<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello to home page!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Личный кабинет</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0" th:action="@{/logoutTheUser}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
        </form>
        <div sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" th:href="@{/login}">Войти</a>
        </div>
    </div>
</nav>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logoutTheUser}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>